<div class= "container">
      <% if user_signed_in? %>
        <% if current_user.name.present? %>
          <h2>Welcome <%= current_user.name %> </h2>
        <% else %>
          <h2>Hello Plant Lover!</h2>
        <% end %>
        <div class = 'text_box'>
          <h4>Profile Information</h4>
          <% if current_user.name.present? %>
            <p>Name: <%= current_user.name %> </p>
          <% end %>
          <p>Email: <%= current_user.email %> </p>
          <p>About Yourself: <%= current_user.description %></p>
      <% end %>
      <% if policy(@user).edit? %>
      <%= link_to image_tag('edit.png',width:25), edit_user_path(@user) %>
      <% end %>
        </div>
    <br>

 <div class = 'text_box'>
    <h4>Plants You Own</h4>
      <div id="grid">
          <% @user.plants.each do |plant| %>
            <div class= "cards">
              <%= cl_image_tag("#{plant.photo}",class: "card_image") %>
              <h4><% if policy(plant).show? %>
                <%= link_to plant.name, plant,:style => "text-decoration:none"%>
                  <% end %>
                </h4>
              <% if policy(plant).destroy? %>
                  <%= link_to image_tag('bin.png',width:30), plant,
                      method: :delete, data: {
                      confirm: 'Are you sure?' }%>
              <% end %>

            </div>
          <% end %>
          <div>
          </div>
      </div>
      <div class = "link">
    <%= link_to 'Create a Plant', new_plant_path,class: "btn btn-ghost" %>
  </div>
  </div>

  <div class = 'text_box'>
    <h4>Plants you will be looking after</h4>
      <div id="grid">
          <% @user.bookings.each do |booking| %>
            <div class= "cards">
              <%= cl_image_tag("#{booking.plant.photo}",class: "card_image") %>
              <h4><%= link_to booking.plant.name, plant_path(booking.plant_id),:style => "text-decoration:none"  %></h4>
              <p> Booking dates: <%= booking.start_date.strftime('%A, %b %d') %> to <%= booking.end_date.strftime('%A, %b %d') %></p>
              <p> Total Days: <%= (booking.end_date - booking.start_date).to_i %></p>
              <p>Total Income: € <%= (booking.end_date - booking.start_date).to_i * booking.plant.price %></p>
              <% if policy(booking).destroy? %>
                     <%= link_to image_tag('bin.png',width:30), booking,
                      method: :delete, data: {
                      confirm: 'Are you sure?' }%>
              <% end %>
            </div>
          <% end %>
          <div>
          </div>
      </div>
      <div class = "link">
    <%= link_to 'Browse Plants', plants_url, class: "btn btn-ghost" %>
  </div>
  </div>
</div>

