<div class= "container">
      <% if user_signed_in? %>
      <h2>Welcome <%= current_user.name %> </h2>
        <div class = 'text_box'>
          <h4>Profile Information</h4>
          <p>Name: <%= current_user.name %> </p>
          <p>Email: <%= current_user.email %> </p>
          <p>Description: <%= current_user.description %> </p>
      <% end %>
      <%= link_to image_tag('edit.png',width:25), edit_user_path(@user) %>
        </div>
    <br>

 <div class = 'text_box'>
    <h4>Plants You Own</h4>
      <div id="grid">
          <% @user.plants.each do |plant| %>
            <div class= "cards">
              <%= cl_image_tag("#{plant.photo}",class: "card_image") %>
              <h4><% if policy(plant).show? %>
                <%= link_to plant.name, plant %>
                  <% end %>
                </h4>
              <% if policy(plant).destroy? %>
                  <%= link_to image_tag('bin.png',width:30), plant,
                      method: :delete, data: {
                      confirm: 'Are you sure?' }%>
              <% end %>

            </div>
          <% end %>
          <%= link_to 'Create a Plant', new_plant_path,class: "btn btn-ghost" %>
      </div>
  </div>

  <div class = 'text_box'>
    <h4>Plants you will be looking after</h4>
      <div id="grid">
          <% @user.bookings.each do |booking| %>
            <div class= "cards">
              <%= cl_image_tag("#{booking.plant.photo}",class: "card_image") %>
              <h4><%= link_to booking.plant.name, plant_path(booking.plant_id) %></h4>
              <p> Booking dates: <%= booking.start_date.to_formatted_s(:long_ordinal) %> <%= booking.end_date.to_formatted_s(:long_ordinal) %></p>
              <% if policy(booking).destroy? %>
                     <%= link_to image_tag('bin.png',width:30), booking,
                      method: :delete, data: {
                      confirm: 'Are you sure?' }%>
              <% end %>
            </div>
          <% end %>
          <%= link_to 'Browse Plants', plants_url, class: "btn btn-ghost" %>
      </div>
  </div>
</div>

