

<div class="cards">
  <% @plants.each do |plant| %>
    <div>
     <%= cl_image_tag("#{plant.photo}",class: "my_class") %>
   <div class="name_plant"> <%= plant.name %> </div>
    <div class="card-trip-infos">
      <% if policy(plant).edit? %>
     <%= link_to 'Edit', edit_plant_path(plant), class: "button"%>
      <% end %>

      <% if policy(plant).destroy? %>
      <%= link_to 'Destroy', plant,
          method: :delete, data: {
          confirm: 'Are you sure?' }, class: "button" %>
       <% end %>
       <% if policy(plant).show? %>
       <%= link_to 'View', plant, class: "button" %>
        <% end %>
    </div>
  </div>
  <% end %>
</div>
