
<h1> Plants index page</h1>
<div class="cards">
  <% @plants.each do |plant| %>
    <div>
     <%= cl_image_tag("#{plant.photo}",class: "my_class") %>
   <div class="name_plant"> <%= plant.name %> </div>
    <div class="card-trip-infos">
      <% if policy(plant).edit? %>
     <%= link_to 'Modify Listing', edit_plant_path(plant), class: "button"%>
      <% end %>

      <% if policy(plant).destroy? %>
      <%= link_to 'Remove Listing', plant,
          method: :delete, data: {
          confirm: 'Are you sure?' }, class: "button" %>
       <% end %>
       <% if policy(plant).show? %>
       <%= link_to 'View Listing', plant, class: "button" %>
        <% end %>
    </div>
  </div>
  <% end %>
<% if policy(Plant).new? %>
<%= link_to 'Create Plant Listing', new_plant_path, class: "button" %>
<% end %>
</div>


