
<div>
  <div class="banner">
      <img class ="banner_img" src='https://images.unsplash.com/photo-1536882240095-0379873feb4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80'/>
      <h4 class="header_text">Keep your plants happy during your vacation</h4>
      <div class="box">
        <h1>Plant Happy</h1>
        <h5> a place to find a plant sitter</h5>
      </div>
  </div>

  <div class = 'about_box'>
    <div class ="search">
      <h2><div>Search for Plants to Watch</div></h2>
      <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Berlin"/>
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i>
          </button>
        </div>
      <% end %>
    </div>

    <div class ="about">
      <h2>Find a Plant Sitter</h2>
      <button class = "btn btn-ghost"> <% if policy(Plant).new? %>
        <%= link_to 'Create Plant Listing', new_plant_path, class: "btn btn" %>
        <% end %></button>
    </div>
  </div>

  <div class ="box_for_cards">

  <div id="grid">
    <% @plants.each do |plant| %>
      <div class= "cards">
        <div class = "card_trip">
          <div class="card_image">
            <%= cl_image_tag("#{plant.photo}",class: "card_image") %>
          </div>
          <div class="card-trip-infos">
            <h4><%= link_to plant.name, plant, :style => "text-decoration:none" %></h4>

            <div class = 'available'>
              <p>
                <%= image_tag('scheduling.png',width:30) %></p>
                <p>Available from
                  <%= plant.avail_from.strftime('%a %e %b') %> for <%= (plant.avail_to - plant.avail_from).to_i%> days</p>
                <p>Daily Rate: € <%= plant.price %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>






