<!-- here i need to render a calender along with everything else -->
<!-- need to show the booking button - would this then take you to the new booking view? -->

<div class = "gallery">
  <%= cl_image_tag("#{@plant.photo}",class: "img_preview") %>
  <%= cl_image_tag("#{@plant.photo}",class: "img_preview2") %>
  <%= cl_image_tag("#{@plant.photo}",class: "img_preview3") %>
</div>

<div class="show_page_container">
   <div class = 'title'>
      <h2><%= @plant.name %></h2>
    </div>
    <div class= "text_container">
        <div class= "text_box">
          <p> <%= image_tag("cactus.png", class: "icon") %><h4>Plant Description</h4></p>
          <%= @plant.description %>
        </div>

        <div class= "text_box">
          <p><%= image_tag("growth.png", class: "icon") %><h4>Plant Care</h4></p>
          <%= @plant.care_instructions %>
        </div>

        <div class= "text_box">
          <p> <%= image_tag("scheduling.png", class: "icon") %><p>This plant is available from: <strong><%= @plant.avail_from.to_formatted_s(:long_ordinal)  %> until: <%= @plant.avail_to.to_formatted_s(:long_ordinal)  %></strong></p>
          <p><strong>A total of <%= @number_days.to_i%> days</strong></p>
        </div>

        <%= link_to "Make a Booking",  new_plant_booking_path(@plant), class: "btn btn-ghost" %>
    </div>
    <%= render 'shared/map'%>
</div>
