<!-- here i need to render a calender along with everything else -->
<!-- need to show the booking button - would this then take you to the new booking view? -->

<div class = "gallery">
  <%= cl_image_tag("#{@plant.photo}",class: "img_preview") %>
  <%= cl_image_tag("#{@plant.photo}",class: "img_preview2") %>
  <%= cl_image_tag("#{@plant.photo}",class: "img_preview3") %>
</div>

<div class="show_page_container">
   <div class = 'title'>
      <h2><%= @plant.name %></h2>
    </div>
    <div class= "text_container">
        <div class= "text_box">
          <p> <%= image_tag("cactus.png", class: "icon") %><h4>Plant Description</h4></p>
          <%= @plant.description %>
        </div>

        <div class= "text_box">
          <p><%= image_tag("growth.png", class: "icon") %><h4>Plant Care</h4></p>
          <%= @plant.care_instructions %>
        </div>

        <div class= "text_box">
          <p> <%= image_tag("scheduling.png", class: "icon") %><p>This plant is available from: <strong><%= @plant.avail_from.strftime(' %a %w %b %Y')  %> until: <%= @plant.avail_to.strftime(' %a %w %b %Y') %></strong></p>
          <p><strong>A total of <%= @number_days.to_i%> days</strong></p>
          <p><strong>Price per day: € <%= @plant.price%></strong></p>
        </div>

        <%= link_to image_tag('edit.png',width:25), edit_plant_path(@plant) %>
        <% if policy(@plant).destroy? %>
            <%= link_to image_tag('bin.png',width:30), plant_path(@plant),
              method: :delete, data: {
              confirm: 'Are you sure?' }%>
        <% end %>
        <%= link_to "Book this plant",  new_plant_booking_path(@plant), class: "btn btn-ghost" %>
   </div>
    <%= render 'shared/map'%>
</div>
